body {
  background-color: black;
}

h1 {
  color: red;
  font-family: arial;
  font-size: 300%;
}

p {
  color: white;
  font-family: arial;
  font-size: 125%;
}

a {
  color: magenta;
  font-family: arial;
  font-size: 100%;
}