body {
  background-color: black;
}

h1 {
  color: white;
  font-family: calibri;
  font-size: 300%;
}

p {
  color: white;
  font-family: calibri;
  font-size: 125%;
}

a {
  color: cyan;
  font-family: calibri;
  font-size: 100%;
}
